langchain
langchain-core
langchain_text_splitters
langchain-community
langchain-experimental
langchain-groq
streamlit
chainlit
requests
environments_utils
wget
python-dotenv
chromadb
transformers
selenium
pyowm
google-api-python-client
langchainhub
groq
pandas
datasets
